:root {
  --max-width: 900px;
  --min-width: 300px;
}

* {
  padding: 0;
  margin: 0;
  font-size: large;
  font-family: "Roboto", sans-serif;
  color: #393b44;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #f1f3f8;
}

.bold {
  font-weight: bold;
}

.main {
  border: solid #8d93ab 1px;
  border-radius: 1px;
}

.header {
  width: 100%;
  background-color: #8d93ab;
}

.header__container {
  max-width: var(--max-width);
  min-width: var(--min-width);
  margin: 0 auto;
}

.hamburger {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  font-weight: 900;
}

.hamburger__button:hover {
  cursor: pointer;
}

.nav {
  display: flex;
  width: 100%;
  background-color: #8d93ab;
  justify-content: center;
  font-weight: 900;
  border-radius: 1px;
}

.nav__item {
  text-decoration: none;
  padding: 10px;
  margin: 0;
}

.nav__item:hover {
  background-color: #d6e0f0;
  border-radius: 1px;
}

.article {
  background-color: #f1f3f8;
}

.article__container {
  max-width: var(--max-width);
  min-width: var(--min-width);
  margin: 0 auto;
}

.article__header {
  padding-top: 30px;
  position: relative;
  font-size: larger;
  text-align: center;
}

.box {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
}

.box__header {
  position: relative;
  font-size: large;
}

.box__center {
  text-align: center;
}

.box__image {
  padding-top: 30px;
}

.box__image > img {
  border-radius: 5px;
}

.box__desc {
  font-size: medium;
  padding-top: 5px;
}

.projects__img {
  max-width: 50px;
  max-height: 50px;
}

.list {
  padding-left: 10px;
  margin-left: 10px;
  color: #334257;
}

.list__item {
  font-size: medium;
}

.code {
  padding-right: 30px;
  font-size: small;
}

.code__item {
  background-color: #f1f3f8;
  border: 1px solid #334257;
  border-radius: 5px;
}

.footer {
  width: 100%;
  background-color: #8d93ab;
}

.footer__container {
  max-width: var(--max-width);
  min-width: var(--min-width);
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__logo {
  background-size: 30px 30px;
  background-repeat: no-repeat;
  background-position: center;
  height: 20px;
  width: 30px;
  padding: 10px 30px;
}

.footer__logo-rrs {
  background-image: url("../images/rs-school-js.svg");
  background-size: 50px 80px;
}

.footer__logo-github {
  background-image: url("../images/octicons-mark-github.svg");
}

.footer__year {
  padding: 10px 30px;
}

@media (min-width: calc(1024px + 1px)) {
  .nav {
    flex-direction: row;
  }

  .hamburger {
    display: none;
  }
}

@media (max-width: 1024px) {
  .nav {
    flex-direction: column;
  }

  .box__image-img {
    max-width: 700px;
  }

  .nav_hide {
    display: none;
    opacity: 0;
  }
}

@media (max-width: 768px) {
  .nav {
    flex-direction: column;
  }

  .box__image-img {
    max-width: 300px;
  }

  .nav_hide {
    display: none;
    opacity: 0;
  }
}

@media (max-width: 420px) and (min-width: 320px) {
  .nav {
    flex-direction: column;
  }

  .box__image-img {
    max-width: 200px;
  }

  .nav_hide {
    display: none;
    opacity: 0;
  }
}
